/* Custom styles beyond Pico's defaults */

:root {
  --pico-font-size: 14px;

  --black: #2a2a2b;
  --black-light: #333333;
  --black-lighter: #4a4a4a;
  --white: #d7e3de;
  --white-dark: #c9d0c8;
  --white-darker: #75848a;
  --red: #fe6c6c;
  --blue: #75c4ff;
  --yellow: #feb800;
  --green: #7fd991;
  --pink: #ff83cd;
  --purple: #b0a4ff;
  --cyan: #00bbc6;
  --gray: #b8b8b8;
}

main.container {
  /* padding: var(--pico-spacing) 0; */
  max-width: 720px;
  max-height: 100vh;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

form fieldset.inline {
  display: flex;
  gap: var(--pico-spacing);
  align-items: flex-start;
}

form fieldset.inline select {
  flex: 0;
  margin-bottom: 0;
  min-width: 80px;
}

form fieldset.inline input {
  flex: 1;
  margin-bottom: 0;
}

form fieldset.inline button {
  flex: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

.timeline {
  overflow: auto;
  scrollbar-width: none;
}


.item {
  border-left: 3px solid var(--border);
}

/* Item type styling */
.item.note {
  --border: var(--blue);
}

.item.task {
  --border: var(--red);
}

.item header {
  display: flex;
  gap: 0.5rem;
  justify-content: right;
  align-items: stretch;
}

.item header * {
  margin: 0;
}

.item header h4 {
  flex: 1;
}

.item header .tag {
  flex: 0;
  padding: 2px 8px;
  border-radius: 4px;
  text-wrap: nowrap;
  text-transform: uppercase;
  background-color: var(--black-light);
}

.item.task input[type="checkbox"] {
  margin: 0;
}